#
# requirements.txt
#

# IBKR Library
ibapi

# GCP Libraries
google-cloud-secret-manager
google-cloud-storage
google-cloud-firestore
google-cloud-aiplatform

# LLM Libraries
openai

# HTTP Client Library
requests
